<table class='post-wrapper'>
  <tbody>
    <tr>
      <td class='body'><%= cooked_post_for_email(post) %><br /><br /></td>
    </tr>
    <tr>
      <td style="max-width: 65px;">
        <img src="<%= post.user.small_avatar_url%>" title="<%= post.user.username%>">
      </td>
      <td>
        To reply privately to <a class="username" href="<%=Discourse.base_url%>/users/<%= post.user.username_lower%>" target="_blank"><%= post.user.name %></a>, direct your response to: <a href="mailto:<%= post.user.email%>"><%= post.user.email %></a>
        <br>
     </td>
    </tr>    
  </tbody>
</table>
<br />
